In [1]:
import pandas as pd

In [2]:
test_data_df = pd.read_fwf('test.txt',delimiter="\n")
test_data_df.columns = ["Text"]
test_data_df.head()

                             Text
0                     "I love it"
1  "I am so happy, this is great"
2     "I am so angry, this sucks"
3  "I am so happy, this is great"
4  "I am so happy, this is great"

In [3]:
train_data_neg_df = pd.read_fwf('neg_tweets.txt',delimiter="\n")
train_data_neg_df.insert(0, 'Sentiment', 0)
train_data_neg_df.columns = ["Sentiment","Text"]
train_data_neg_df.head()

   Sentiment                                               Text
0          0  " cavs lost, and I got this sinking feeling we...
1          0  " the closest BGT tour is Cardiff or London da...
2          0  " Why do other pet care people try to run othe...
3          0  "-gasps- dananananaykroyd touring aussie .... ...
4          0  "....If i am going warsal that means no church...

In [4]:
train_data_pos_df = pd.read_fwf('pos_tweets.txt',delimiter="\n")
train_data_pos_df.insert(0, 'Sentiment', 1)
train_data_pos_df.columns = ["Sentiment","Text"]
train_data_pos_df.head()

   Sentiment                                               Text
0          1  " just watched the movie Wanted... it was pret...
1          1                                  " now I'm happy "
2          1  "--plotting like i'm mike..'game plan:pass the...
3          1  "@ mcdonalds with my litto sis aka cuzin lol c...
4          1  "@ PBnJen : Thanks for the great tour and maki...

In [5]:
import re
import nltk
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection  import train_test_split

In [6]:
def tokenize(text):
    text = re.sub("[^a-zA-Z]", " ", text)
    tokens = nltk.word_tokenize(text)
    stems = [PorterStemmer().stem(item) for item in tokens]
    return(tokens)

In [7]:
vectorizer = CountVectorizer(analyzer = 'word',tokenizer = tokenize,lowercase = True,stop_words = 'english',max_features = 80)

In [8]:
train_data_df = pd.concat([train_data_pos_df,train_data_neg_df])
features = vectorizer.fit_transform(train_data_df.Text.tolist()+test_data_df.Text.tolist())
features_nd = features.toarray()

In [9]:
X_train, X_test, y_train, y_test  = train_test_split(features_nd[0:len(train_data_df)], train_data_df.Sentiment,test_size=0.1, random_state=1)

In [10]:
from sklearn.linear_model import LogisticRegression
log_model = LogisticRegression(solver='lbfgs')

In [11]:
log_model = log_model.fit(X=features_nd[0:len(train_data_df)], y=train_data_df.Sentiment)

In [12]:
y_pred = log_model.predict(X_test)

In [13]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.96      0.90       142
           1       0.86      0.54      0.67        59

   micro avg       0.84      0.84      0.84       201
   macro avg       0.85      0.75      0.78       201
weighted avg       0.84      0.84      0.83       201

In [14]:
a = input("Type a sentence and press enter")

Type a sentence and press enter I love NLP

In [15]:
test_data_df2 = pd.DataFrame({'Text':[a]}) 
test_data_df2.head()

         Text
0  I love NLP

In [16]:
log_model = LogisticRegression(solver='lbfgs')
log_model = log_model.fit(X=features_nd[0:len(train_data_df)], y=train_data_df.Sentiment)
test_pred = log_model.predict(features_nd[len(train_data_df):])
print(test_data_df2.Text[0], test_pred[0])

I love NLP 1

In [20]:
import praw

reddit = praw.Reddit(client_id='8G3apa5U51Rw2g',
                     client_secret='ACPdbSJSDLV8U3EAjla2MhOj1zg',
                     user_agent='my user agent')

print(reddit.read_only)

True

In [26]:
df = pd.DataFrame(columns=['Text'])
for submission in reddit.subreddit('upliftingnews').top('year',limit=100):
    df = df.append({'Text': submission.title}, ignore_index=True)
#log_model = LogisticRegression(solver='lbfgs')
#log_model = log_model.fit(X=features_nd[0:len(train_data_df)], y=train_data_df.Sentiment)
test_pred = log_model.predict(features_nd[len(df):])
for i in range(len(df)):
    print(df.Text[i], test_pred[i])

First paralyzed human treated with stem cells has now regained his upper body movement. 1
Hollywood Superstar Keanu Reeves Has Secretly Been Financing Countless Children’s Hospitals 1
Amazon tribe wins legal battle against oil companies. Preventing drilling in Amazon Rainforest 1
Colorado becomes first state in nation to cap price of insulin. Under bill signed by governor this week, diabetics will pay no more than $100 a month for insulin. 0
Police say a teenager who attached uplifting messages to a bridge to help people facing a mental health crisis has helped save six lives. 1
13 Year Old Girl nicknamed 'Trash Girl' was regularly bullied for collecting trash on her way to school. On Friday she is to recieve a Points of Light Award award granted from Prime Minister Theresa May. 0
A hacker is breaking into people's routers and patching them so they can't be abused by other hackers. 1
Aldi introduces wages higher than the ‘real living wage’ after supermarket has record year 0
Mom with 'gut feeling' stops school shooter before planned attack 1
The Bishop of Paris, in tears, has told the French press that After fear of their destruction, all 3 irreplaceable Rose Windows, considered the greatest medieval artwork still in existence, have survived. They took years to build in the 13th century. 1
Leonardo DiCaprio raises $100 million to fight climate change 1
School superintendent arrested for allegedly using own insurance to help sick student will only get small fine, keep job. 1
North Dakota quietly decriminalized marijuana 1
TIL a grocery store in Canada was left unlocked and unattended on a national holiday. The only thing taken was cherry tomatoes, for which a person left $5 at the checkout. The person actually overpaid. 0
In 1961, her calculations put the first American in space. Today, Katherine Johnson is celebrating her 100th birthday 1
Fortnite Creator is Buying Thousands of Acres of Forest to Stop It From Being Cut Down 0
82 year old youtuber know as the "skyrim Grandma" will be added as an nPC in the upcoming game The elder scrolls 6 0
Disney heir calls on company to give 50% of exec bonuses to lowest-paid employees 0
Burnout, stress lead more companies to try a four-day work week. It leads to higher productivity, more motivated staff. 1
8th boy rescued. Thailand cave rescue continues. 1
Kroger, America's largest supermarket chain to ban plastic checkout bags and transition to reusable ones and ultimately eliminate 123 million pounds of garbage annually sent to landfills 0
Kelloggs is using rejected cornflakes to make beer in an effort to cut down on food waste 1
To help his grandmother stay hydrated, man creates “water you can eat” Jelly Drops that look like candy and appeal to people with dementia. 0
Turkish mom who read lecture notes for four years to her blind daughter at law school has been awarded honorary degree alongside of her daughter. 0
A single father has taken his son, who has cerebral palsy, to over 1,000 heavy metal shows (since finding out how much the genre soothed and comforted him). Now he's organized a metal festival in his son's honor - to help raise awareness of the condition. 0
Barack Obama and Stephen Curry inspire boys with advice about healthy manhood -- Obama: "If you are very confident about your sexuality, you don't have to have eight women around you twerking." 1
U.S. Senate votes 93-6 to stop airlines removing passengers from overbooked planes, Directs FAA to set Minimum seat Sizes 1
Meet the woman who rented hotel rooms for homeless in Chicago during dangerous polar vortex 0
New bill in Arkansas aims to promote gender equality by allowing fathers to more easily gain custody of their child. 1
Mexico jaguar population grows 20% in eight years 0
Man graduates with nursing degree from same university where he started as a janitor 0
Alabama college student walked 20 miles to 1st day of work so his boss gave him his car 1
A toddler shredded $1000 that his parents had been saving for months - but they're in luck. The US Treasury has a team of experts that piece destroyed cash together again and could repay the amount in full 0
Emilia Clarke's fundraiser for brain injury (which started on Reddit) is trending on BBC news, and the /r/FreeFolk subreddit (which started it all) is especially mentioned! 0
Biker gangs stand guard outside NZ mosques during first Friday prayer since massacre 1
French billionaire François-Henri Pinault pledges €100 million ($113 million) to help rebuild the Notre Dame Cathedral 0
Brooklyn Nine-Nine cast supports Terry Crews 0
New York City murder rate goes flat over Christmas with none reported in five days 1
NJ teacher leaves $1 million to school district in her will. it will be used on scholarships for special-Education students 1
Denver votes to remove taxes from tampons, pads 0
Guy Fieri Surprises California Firefighters With a Home Cooked Meal 1
Thailand Cave Boys Say They Want To Be Navy SEAL Divers In First Public Comments Since Rescue 0
Nurse finds out new colleague is baby she treated 28 years ago 1
In Toronto, Canada, Constable Niran Jeyanesan got called to a Walmart to arrest a shoplifter who attempted to steal clothes for a job interview. Niran paid for his clothes and the man found a job. 0
H.I.V. Is Reported Cured in a Second Patient, a Milestone in the Global AIDS Epidemic 1
The world's largest furniture retailer IKEA has revealed that 70% of the materials used to make its products during 2018 were either renewable or recycled, as it strives to reach the 100% mark by 2030. 0
Arizona man finds a little girl’s Christmas wish list attached to a balloon all the way from Mexico. Tracks her down and delivers her toys. 0
California limits pet store sales of cats, dogs and rabbits to rescue or shelter animals only 1
American in China who accidentally paid 100 times his US$9.60 cab fare gets his money back after cabby tracks him down 1
Young People Are Registering to Vote in Huge Numbers, New Study Finds 1
Sikhs In US Offered Free Food To Thousands Of Workers Affected By Government Shutdown 0
Car is auctioned to pay for the care of two orphans. Car sells three times, car is donated back three times, totally $80,000 raised. 0
Female Chief Terminates 850 Child Marriages in Malawi and Sends Girls Back to School 0
Police officer jumps off overpass to save boy's life in daring New York rescue 1
Homeless Nigerian Boy who beat kids from elite schools to win NY state chess championship is no longer homeless. 0
Noah’s Ark except it’s a school bus: Truck driver rescues 64 dogs and cats from floods of Hurricane Florence 0
The Malaysian government has announced it will not allow any further expansion of oil palm plantations, and that it intends to maintain forest cover at 50%. Malaymail 1
Parents no longer can claim personal, philosophical exemption for measles vaccine in Wash. 1
Bank returns stolen funds of Richard Overton, The World's Oldest Living WWII Veteran. 0
Last year 920,000 children died of pneumonia, mostly in countries without access to expensive medical care. Now an Indian doctor has fashioned and artificial respirator out of shampoo bottles. It has been routinely deployed in his hospital, and infant pneumonia deaths have dropped by 75%. 0
Cheers To Corona—It's The First Major Beer Brand To Test Plastic-Free 6-Pack Rings 1
US Senate passes landmark bipartisan bill to enlarge national parks 1
Man with down syndrome founds sock company with dad, earns 1.7 million their first year 0
Ruth Bader Ginsburg shows 'no evidence of remaining disease,' Supreme Court says 1
China’s ivory ban having a positive impact on the African elephant 0
Couple finds $1.8 million lottery ticket while cleaning before Thanksgiving 0
Maine becomes the first state to ban Styrofoam 0
Black leopard spotted in Africa for first time in 100 years. 0
‘Crouching Tiger, Hidden Dragon’ Star Chow Yun-fat Plans to Give His Entire $714M Fortune to Charity 0
Walt Disney Company to eliminate plastic straws and more by 2019 1
Dog, believed killed by neighbor, turns up one year later, 68 miles from home 0
Thanks to better science and engineering, no one died in Friday's 7.0 earthquake in Anchorage, Alaska 1
Muslims in Pakistani town refuse to slaughter cows "to avoid hurting the feelings of their Hindu fellows" 0
A homeless man found rare artwork from Disney's 'Bambi' in a trash bin. When it sold for $3,700, the seller tracked him down to split the proceeds 1
World Cup: France's Kylian Mbappe, 19-year-old phenom, will donate World Cup earnings to charity 0
Good Samaritan picks up hotel tab for 70 homeless in Chicago amid life-threatening cold 0
Radio host (Iain Lee) keeps suicidal caller on the line for half an hour until ambulance arrives 1
David Spade donates $100,000 to mental health organization following Kate's death 1
Japanese proposal to reinstate commercial whaling defeated 0
Kenyan Woman Saves 15,000 Young Girls From Female Genital Mutilation 0
Trader Joe’s Phasing Out Single-Use Plastics Nationwide Following Customer Petition 0
Chile Just Converted 11 Million Acres Into New National Parks 0
Muslims Raise More Than $50K For Pittsburgh Synagogue Victims In 6 Hours 0
Cities may not prosecute homeless people for sleeping outside if they have no access to shelter, appeals court rules 1
New Zealand wants to make people happy, not rich - New Zealand’s latest budget, unveiled this week, is being touted as the first in a Western country to put well-being over economic pressures. 0
Indian fishermen are pulling Plastic from the Oceans to build roads and have removed 25 tonnes of plastic from the Arabian Sea in first 10 months. 0
Tennessee becomes first state in the South with hate crime law protecting transgender people 0
A Teacher in India buys a bus and becomes a bus driver to make sure no one drops out of school 1
Redditors of the Marvel Studios subreddit are trying to start a Campaign to allow a fellow redditor who is terminally ill to see an early Screening of Avengers: Endgame 0
New York City bans foam containers, coffee cups and more in landmark legislation 0
People Are Picking Up Trash in Parks and Beaches for the 'Trashtag Challenge' 0
Another baby white rhino! N.C. Zoo announces second birth in 11 days 1
Microsoft will require suppliers to offer paid parental leave - In a move that could prompt more companies to offer paid parental leave, Microsoft is announcing today that it will require all of its U.S.-based suppliers and vendors with more than 50 employees to offer such benefits. 0
An Amazonian parrot called Freddy Krueger has made headlines in Brazil after managing to find its way back to the zoo from which it was stolen while recovering from a four-year nightmare that saw it shot in a gun battle, abducted by armed thieves and bitten by a snake. 0
Golden retriever who saved Arizona woman from snake bite named dog of year 1
Seattle judges throw out 15 years of marijuana convictions 1
Whales Seen In Hundreds Off NYC Shores, Drawn By Cleaner Waters 0
Mexican scientist cures the Human Papilloma Virus 1
During government shutdown, Dallas restaurant offers $1 tacos to federal employees 1
"Elephants have first right over forest" - Indian Supreme Court. Orders for demolition of wall that was blocking elephant migration corridor 0

In [17]:
log_model = LogisticRegression(solver='lbfgs')
log_model = log_model.fit(X=features_nd[0:len(train_data_df)], y=train_data_df.Sentiment)
test_pred = log_model.predict(features_nd[len(train_data_df):])
import random
spl = random.sample(range(len(test_pred)), 6)
for text, sentiment in zip(test_data_df2.Text[spl], test_pred[spl]):
    print (sentiment, text)

1 nan
0 nan
0 nan
1 nan
1 I love NLP
1 nan

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:942: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

In [18]:
#for i in range(0, 5):
#    print(test_data_df.Text[i], test_pred[i])